.footer {
  background: linear-gradient(to bottom, #f4ffe3, #b2e74e);
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  border-radius: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-bottom{
    display: flex;
    margin-bottom: 2px;
    /* align-items: center; */
    justify-content: center;

  }
}

.footer-left {
  max-width: 500px;
  text-align: left;
}

.footer-logo {
  font-size: 28px;
  font-weight: 700;
  color: #1a1a1a;
}

.footer-description {
  margin-top: 15px;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
}

.footer-contact {
  margin-top: 15px;
  font-size: 15px;
  color: #222;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  gap: 60px;
  text-align: left;
}

.link-group h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
}

.link-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-group ul li {
  margin-bottom: 10px;
}

.link-group ul li a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  transition: color 0.3s;
}

.link-group ul li a:hover {
  color: #7fc41c;
}

.footer-bottom {
  margin-top: 10px;
  border-top: 1px solid #c7e59f;
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
  color: #333;
}
.social-icons {
  /* position: fixed; */
  bottom: 45px;
  right: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  /* justify-content: center;
  align-items: center; */
}

.social-icons a {
  color:black;
  font-size: 40px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #1a1a1a;
} 
