.how-we-work-container {
  /* background-color: #f9fbf8; */
  border-radius: 10px;
  padding: 60px 5px;
  text-align: center;
  /* margin: 60px auto; */
  font-family: 'Segoe UI', sans-serif;
 
}

.how-we-work-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #003d33;
  margin-bottom: 10px;
}

.how-we-work-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 50px;
}

.how-we-work-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  
}

.step {
  flex: 1 1 200px;
  max-width: 280px;
  text-align: center;
}

.step-number {
  background-color: #d0ea85;
  color: #1e311e;
  font-size: 1.4rem;
  font-weight: bold;
   border:6px solid #ecf8ce;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
  margin-bottom: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.step-number:hover {
  background-color: #c0d97a; /* Slightly darker on hover */
  scale: 1.1; 
}

.step-title {
  font-size: 24px;
  font-weight: 502;
  color: #1e311e;
  margin-bottom: 8px;
}

.step-description {
  font-size: 20px;
  color: #333;
  line-height: 1.4;
}
