.navbar {
  background-color: rgb(254, 252, 252) !important;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100px;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.navbar-logo {
  height: 70px;
  width:auto;
  margin-left: -90px;
}

.navbar-logo2 {
  height: 60px;
  width: auto;
}

.navbar-center {
  display: flex;  
   align-items: center;
  justify-content: center;
  flex: 1;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  font-weight: 600;
  color: #1e1e2f !important;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: #9acd32 !important;
}

.nav-link.active {
  color: #9acd32 !important;
  font-weight: 700;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: #9acd32;
  border-radius: 2px;
}

.navbar-right {
  display: flex;
  gap: 12px;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease;
  border: 1.8px solid #023e10;
  cursor: pointer;
}

.nav-btn.primary {
  background-color: #023e10;
  color: white;
}

.nav-btn.primary:hover {
  background-color: #9acd32;
  transform: scale(1.05);
}

.nav-btn.outline {
  background-color: white;
  color: #023e10;
}

.nav-btn.outline:hover {
  background-color: #9acd32 ,!important;
  transform: scale(1.05);
}


@media only screen and (max-width: 768px) {
  .navbar-center,
  .navbar-right {
    display: none;
  }
}
